<head>
   <script src="https://kit.fontawesome.com/f9832912b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	   crossorigin="anonymous" />
      <style>
         .ul{
            list-style-type: none;
         }
         .ul a{
            color: white;
         }
         .ul a:hover{
            text-decoration: none;
            color: red;
         }
         .underline{
            text-decoration-line: underline;
            text-decoration-color: white;
            text-decoration-style: wavy;
            padding-left: 37px;
            color: red;
            font-weight: bolder;
         }
         .left
         {
            border: 2px solid red;
            border-radius: 50%;
         }
         h3{
            text-shadow: 2px 2px #ff0000;
            color: white;
         }
         .col-flex,.footer,.foot-connect-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
         }
         .col-row,.footer,.foot-connect-btn{
            flex-direction:column;
         }
         .foot-connect-btn button{
            border: 2px inset red;
            padding:5px;
            border-radius: 8px;
            margin: 4%;
            margin-left: 37px;
            background-color: white;
         }
         .col-flex{
            padding: 0% 10%;
            background-color: rgb(247, 162, 162);
            color: white;
         }
         .rm-sp{
            padding: 0%;
         }
         .desc{
            text-align: center;
         }
      </style>
</head>
<body>
		<footer class="col-flex col-row" >
			    <div class="footer">
                    <div class="desc">
                       <h3>Florist Studio</h3>
                          <div>
                             <p>We are dedicated to provide you the flowers with rich and varied colors, profusion of bloom, velvety petal textures and, a rich sweet scent on your doorstep.Choose your favourite from our range of beautiful & gorgeous fresh flower bouquets, floral box, vase arrangements, gift baskets and chocolates. Sign up now to send all these to your loved ones from anywhere in the world.</p>
                          </div>
                    </div>
                </div>
		        <div class="right col-flex">
			        <div class="menu">
                        <span class="underline">LINKS</span>
				        <ul class="ul">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#products">OUR PRODUCTS</a></li>
                            <li><a href="#sale">SALE</a></li>
                            <li><a href="#testimonials">TESTIMONIALS</a></li>
                            <li><a href="#newsLetter">NEWSLETTER</a></li>
                            <li><a href="#">ABOUT</a></li>
				        </ul>
			        </div>
                        <div>
                            <ul class="col-flex rm-sp ul">
                            <li><span class="underline">ADDRESS</span>
                                <ul class="ul">
                                    <li>office #08,floor #03</li>
                                    <li>Block c,257 street</li>
                                    <li><strong>New York</strong></li>
                                </ul>
                            </li>
                            <li><span class="underline">CONTACT</span>
                                <ul class="ul">
                                    <li><a href="#">03xx xxxxxxxx</a></li>
                                    <li><a href="#">floristStudioSite</a></li>
                                    <li><a href="#">mail@floriststudio.com</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="underline">SOCIAL</span>
                                <div class="intro-buttons foot-connect-btn">
                                    <button>
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </button>
                                    <button class="insta-red-bg">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </button>
                                    <button>
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </button>
                                    </div>
                            </li>
                            </ul>
                        </div>
		        </div>
			
		</footer>
	</body>

